body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 5%;
}

.cards-wrapper {
  width: 50dvw;
  align-items: center;
  background: #fff;

  border: 2px solid red;
  overflow: hidden
}

.cards-wrapper ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;

  border: 2px solid limegreen;
  list-style: none;
}

.card {
  position: relative;
  width: 350px;
  height: 480px;
  border-radius: 10px;
  overflow: hidden;
  background: #f5f6fa;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.card:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 0;
  background: #64b3f4;
  transition: all 0.5s ease;
}
.card:hover:before {
  height: 180px;
}

.card:hover .social {
  margin-top: 10px;
}
.card:hover .pic {
  width: 120px;
  height: 120px;
  margin-top: 10px;
  box-shadow: 0px 0px 10px 1px #888;
}
.card:hover .content {
  margin-top: 90px;
}
.card .social {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 0;
  margin-top: -30px;
  text-align: center;
  transition: margin-top 0.5s ease;
}
.card .social a {
  text-decoration: none;
  color: #2d3436;
  padding: 8px;
  font-size: 18px;
  color: #fff;
}
.card .pic {
  position: relative;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  width: 140px;
  height: 140px;
  overflow: hidden;
  transition: all 0.5s ease;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.card .pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
  .card .content {
  margin-top: 90px;
  text-align: center;
  padding: 0 30px;
  color: #2d3436;
  transition: margin-top 0.5s ease;
}

.card .content span {
  font-size: 16px;
  letter-spacing: 1.5px;
}
.card .content p {
  margin: 20px 0;
  font-size: 18px;
  line-height: 1.6;
  color: #b0b0b0;
}
/*%% End container %%*/